color-blue = #160CE8;
color-pink = #D6008F;
color-purple = #7C00A5;
color-gray = #EDEDED;
color-green = #78D939;

* {
  font-family: Noteworthy;
  text-align: center;
}

h2 {
  font-size: 40px;
  padding-bottom: 50px;
}

button {
  color: white;
  font-size: 18px;
  border-radius: 15px;
  margin-bottom: 50px;
  width: 136px;
  height: 40px;
}

form {
  display: flex;
  flex-direction: column;
  .form-group {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    .is-invalid {
      border-color: red;
    }
    label {
      max-width: 100px;
      font-size: 24px;
      color: color-purple;
      width: 118px;
      margin: auto;
    }
    input,
    textarea {
      border-color: color-green;
      background-color: color-gray;
      border-radius: 10px;
      text-align: left;
    }
    textarea {
      height: 300px;
    }
    input {
      height: 50px;
    }
    input:focus,
    input:hover,
    textarea:focus,
    textarea:hover {
      background-color: white;
    }
    button {
      background-color: color-green;
    }

  }
}
