color-blue = #160CE8;
color-light-blue = #00C0E0;
color-pink = #D6008F;
color-purple = #7C00A5;
color-gray = #EDEDED;
color-green = #78D939;

* {
  font-family: Noteworthy;
  text-align: center;
  font-size: 18px;
}

h2 {
  padding-bottom: 50px;
}
.button {
  color: white;
  font-size: 18px;
  border-radius: 15px;
  margin-bottom: 50px;
  width: 136px;
  height: 40px;
  cursor: pointer;
}

section {
  flex: 3 0;
  padding-right: 50px;
}

aside {
  flex: .6 0 0;
  form {
    .form-group {
      margin: 0;
      label {
        padding: 5px 10px;
        font-size: 16px;
        color: white;
        background-color: color-pink;
        border-radius: 10px;
        width: inherit;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin: 0;
        height: 34px;
      }
      input {
        font-size: 16px;
        padding: 0;
        padding-left: 5px;
        height: 34px;
        border: none;
        border-bottom: 1px solid color-pink;
        border-top: 1px solid color-pink;
        border-radius: 0;
      }
      button {
        background-color: transparent;
        padding: 0;
        height: 34px;
        border: 1px solid color-pink;
        border-left: none;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        cursor: pointer;
        img {
          height: 24px;
        }
      }
    }
    .form-group:hover input,
    .form-group:hover button,
    input:focus ~ button {
      background-color: white;
    }
  }
  .banner {
    border-radius: 15px;
    padding: 40px 10px 10px 10px;
    height: 330px;
    h3 {
      padding-top: 20px;
      padding-bottom: 50px;
    }
  }
  .resources {
    background-color: color-light-blue;
    .button {
      background-color: color-light-blue;
    }
  }
  .about {
    background-color: color-purple;
    .button {
      background-color: color-purple;
    }
  }
  .contact {
    background-color: color-pink;
    .button {
      background-color: color-pink;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  .form-group {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    .is-invalid {
      border-color: red;
    }
    label {
      max-width: 100px;
      font-size: 24px;
      color: color-purple;
      width: 118px;
      margin: auto;
    }
    input,
    textarea,
    .vue-dropzone {
      border-color: color-green;
      background-color: color-gray;
      border-radius: 10px;
      text-align: left;
    }
    textarea {
      height: 300px;
    }
    input {
      height: 50px;
    }
    input:focus,
    input:hover,
    textarea:focus,
    textarea:hover,
    .vue-dropzone:hover {
      background-color: white;
    }
    button {
      background-color: color-green;
    }

  }
}

.banner {
  margin: 50px 0;
  h3 {
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .button {
    background-color: color-light-blue;
    border-color: white;
  }
}
