color-blue = #160CE8;
color-pink = #D6008F;
color-purple = #7C00A5;
color-gray = #EDEDED;
color-green = #78D939;

* {
  font-family: Noteworthy;
  text-align: center;
}

h2 {
  font-size: 40px;
  padding-bottom: 50px;
}

button {
  color: white;
  font-size: 18px;
  border-radius: 15px;
  margin-bottom: 50px;
  width: 136px;
  height: 40px;
}
